In [1]:
import numpy as np

In [2]:
a = np.arange(12).reshape(3,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [4]:
for row in a:
    for cell in row:
        print(cell)

0
1
2
3
4
5
6
7
8
9
10
11

In [6]:
for cell in a.flatten():
    print(cell)

0
1
2
3
4
5
6
7
8
9
10
11

In [7]:
for x in np.nditer(a, order="C"):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11

In [8]:
for x in np.nditer(a, order="F"):
    print(x) # Print now column by column. Fortran Order.

0
4
8
1
5
9
2
6
10
3
7
11

In [9]:
for x in np.nditer(a, order="F", flags=['external_loop']):
    print(x) # Print now column by column. One column in one go

[0 4 8]
[1 5 9]
[ 2  6 10]
[ 3  7 11]

In [10]:
for x in np.nditer(a, op_flags=['readwrite']):
    x[...] = x*x # Now we can edit content of iterator.

a

array([[  0,   1,   4,   9],
       [ 16,  25,  36,  49],
       [ 64,  81, 100, 121]])

In [12]:
b = np.arange(3,15,4).reshape(3,1)
b

array([[ 3],
       [ 7],
       [11]])

In [13]:
# 3 rows but different columns.
# Now first row of a and first row of b.
# As b row havve only 1 column so, one value of b map with all value of a.

for x,y in np.nditer([a,b]):
    print(x, y)

0 3
1 3
4 3
9 3
16 7
25 7
36 7
49 7
64 11
81 11
100 11
121 11